body {
  background-image: url(https://images4.alphacoders.com/260/260758.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.search-box-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

#searchBoxInput {
  width: 100%;
  padding: 15px;
  margin: 4px;
  box-sizing: border-box;
  padding-left: 30px;
  border: none;
}

#searchBox {
  position: relative;
  width: 370px;
}

#searchBox img {
  width: 18px;
  position: absolute;
  top: 8px;
  right: 0;
  padding: 10px 10px;
  color: #30a3f1;
}

#suggestions {
  display: none;
  margin: 0px 4px;
  max-width: 745px;
  padding: 5px 5px 5px 0;
  box-shadow: 0 12px 24px rgb(0 0 0 / 40%);
  background-color: #fffe;
}

#topContent {
  min-width: max-content;
}

.suggestion-header-text {
  padding: 0px 10px;
  text-transform: uppercase;
}

#popularProducts {
  padding: 0px 10px;
}

#productCards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
